{% extends "::base.html.twig" %}

{% block container_class %} wide{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts '@ShoploAllegroBundle/Resources/public/js/category.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
	<div class="box">
		<h2>Zmapuj kategorie z Allegro</h2>

		<div class="space"></div>

		<div class="alert alert-error hide">
			Każda kategoria z Shoplo musi być przypisana do kategorii z Allegro.
		</div>

		<form action="{{ path('shoplo_allegro_settings_mapping') }}" class="form-inline map-allegro" method="post" {{ form_enctype(form) }}>
			<div class="control-group clear">
				<label class="span2">Kategorie Shoplo</label>
				<label>Kategorie Allegro</label>
			</div>
			{% for category in shoplo_categories %}
			<div class="control-group clear">
				<input type="text" id="disabledInput" value="{{category.name}}" disabled="disabled" class="span2" />
				<input type="hidden" name="map[{{category.id}}]" value="0" class="map" />

				<select class="allegro" id="allegro-{{category.id}}" name="form[categories][{{category.id}}]" class="span2">
					<option value="0">Wybierz kategorię</option>
					{% for category in allegro_categories %}
					<option value="{{category.id}}">{{category.name}}</option>
					{% endfor %}
				</select>
			</div>
			{% endfor %}
            {% do form.categories.setRendered %}

			<p>
				<input type="submit" value="Zapisz" class="btn btn-primary" />
			</p>

            {{ form_row(form.categories) }}

            {{ form_rest(form) }}
		</form>

	</div>
{% endblock %}
