{% extends "::base.html.twig" %}

{% block javascripts %}
	{{ parent() }}
{% javascripts '@ShoploAllegroBundle/Resources/public/js/home.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
	{% if active_items or finish_items %}
		<div class="container-fluid">
			<div class="row-fluid content">
				<div class="span10 box">

					<h3>
						Twoje aukcje

						<span class="floatRight">
							<select name="filter" class="span12">
								<option value="1"{% if active_items|count > 0 %} selected="selected"{% endif %}{% if active_items|count == 0 %} disabled="disabled"{% endif %}>Trwające</option>
								<option value="0"{% if active_items|count == 0 and finish_items|count > 0 %} selected="selected"{% endif %}{% if finish_items|count == 0 %} disabled="disabled"{% endif %}>Zakończone</option>
							</select>
						</span>
					</h3>

					<table class="table">
						<thead>
							<tr>
								<th colspan="2">&nbsp;</th>
								<th class="alignCenter medium">Koniec</th>
								<th class="alignCenter medium">Sprzedanych</th>
								<th class="alignCenter">Statystyki</th>
								<th class="alignCenter medium">Koszt</th>
								<th class="mini">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% for i in active_items %}
							<tr class="active">
								<td>
                                    <a href="{{ path('shoplo_allegro_show_item', {itemId: i.id}) }}" target="_blank">
									    <img src="http://src.sencha.io/50/50/{{ i.getProduct(shoplo).thumbnail }}" />
                                    </a>
                                </td>
								<td>
                                    <a href="{{ path('shoplo_allegro_show_item', {itemId: i.id}) }}" target="_blank">
                                        {{ i.getVariant(shoplo).title }}
                                    </a>
                                </td>
								<td class="alignCenter">{{ i.getEndAt()|nicedate }}</td>
								<td class="alignCenter">{{ i.getQuantitySold() }}/{{ i.getQuantity() }}</td>
								<td class="alignCenter">{{ i.getViewsCount() }}</td>
								<td class="alignCenter">{{ i.getFormattedAuctionPrice() }} zł</td>
								<td>
									{#<a href="" class="action actionEdit"><span class="icon-edit"></span></a>#}
									<a href="{{ path('shoplo_allegro_finish_item', {itemId: i.id}) }}" class="action actionFinish"><span class="icon-time"></span></a>
								</td>
							</tr>
							{% endfor %}

							{% for i in finish_items %}
							<tr class="finish{% if active_items|count > 0 %} hide{% endif %}">
								<td>
									<a href="{{ path('shoplo_allegro_show_item', {itemId: i.id}) }}" target="_blank">
										<img src="http://src.sencha.io/50/50/{{ i.getProduct(shoplo).thumbnail }}" />
									</a>
								</td>
								<td>
									<a href="{{ path('shoplo_allegro_show_item', {itemId: i.id}) }}" target="_blank">
										{{ i.getVariant(shoplo).title }}
									</a>
								</td>
								<td class="alignCenter">{{ i.getEndAt()|nicedate }}</td>
								<td class="alignCenter">{{ i.getQuantitySold() }}/{{ i.getQuantity() }}</td>
								<td class="alignCenter">{{ i.getViewsCount() }}</td>
								<td class="alignCenter">{{ i.getFormattedAuctionPrice() }} zł</td>
								<td>
									{#<a href="" class="actionEdit"><i class="icon-edit"></i></a>#}
									<a href="{{ path('shoplo_allegro_delete_item', {itemId: i.id}) }}" class="action actionDelete"><i class="icon-remove"></i></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>

				<div class="span2 sidebar">
					<ul class="menu">
						{#<li>
							<a href="{{ path('shoplo_allegro_settings') }}">Ustawienia</a>
						</li>#}
						<li>
							<a href="//{{ shop.permanent_domain }}/panel/product/list">Wystaw aukcję</a>
						</li>
						<li>
							<a href="{{ path('shoplo_allegro_profiles') }}">Profile aukcji</a>
						</li>
						<li>
							<a href="{{ path('shoplo_allegro_settings_mapping') }}">Kategorie</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% else %}
		<div class="page-header">
			<h1>Wystaw przedmioty na Allegro</h1>
		</div>

		<div class="media">
			<a class="pull-left">
				{% image 'http://placehold.it/60/ff5a/fff.png&text=1' output='/images/1.jpg' %}
				<img src="{{ asset_url }}" alt="1" width="60" height="60" class="img-circle">
				{% endimage %}
			</a>

			<div class="media-body">
				<h4 class="media-heading">Przejdź do listy produktów</h4>
				Zaloguj się do panelu i przejdź do listy produktów.
				{% image '@ShoploAllegroBundle/Resources/public/img/product_list.png' %}
				<img class="pull-right" src="{{ asset_url }}" alt="Lista produktów" width="610" height="340"/>
				{% endimage %}
			</div>
		</div>
		<div class="media">
			<a class="pull-left">
				{% image 'http://placehold.it/60/ff5a/fff.png&text=2' output='/images/2.jpg' %}
				<img src="{{ asset_url }}" alt="2" width="60" height="60" class="img-circle">
				{% endimage %}
			</a>

			<div class="media-body">
				<h4 class="media-heading">Wybierz produkty</h4>
				Zaznacz produkty, które chcesz wystawić na Allegro. Możesz zaznaczyć dowolną ilość produktów i wystawić je
				na sprzedaż za jednym razem.
				{% image '@ShoploAllegroBundle/Resources/public/img/product_select.png' %}
				<img class="pull-right" src="{{ asset_url }}" alt="Lista produktów" width="610" height="435"/>
				{% endimage %}
			</div>
		</div>
		<div class="media">
			<a class="pull-left">
				{% image 'http://placehold.it/60/ff5a/fff.png&text=3' output='/images/3.jpg' %}
				<img src="{{ asset_url }}" alt="3" width="60" height="60" class="img-circle">
				{% endimage %}
			</a>

			<div class="media-body">
				<h4 class="media-heading">Wystaw na Allegro</h4>
				Wybierz opcję "Wystaw na Allegro" i kliknij w przycisk "Zapisz". Zostaniesz przeniesiony wprost do kreatora
				aukcji, który pozwoli Ci na określenie szczegółów sprzedaży.
				{% image '@ShoploAllegroBundle/Resources/public/img/product_export.png' %}
				<img class="pull-right" src="{{ asset_url }}" alt="Lista produktów" width="610" height="435"/>
				{% endimage %}
			</div>
		</div>
	{% endif %}
{% endblock %}
