{% extends "::base.html.twig" %}

{% block container_class %} central{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts '@ShoploAllegroBundle/Resources/public/js/settings.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% form_theme form _self %}

{% block form_row %}
    {% if form.children|length == 0 %}
        <div class="control-group">
            {{ form_label(form, null, {'label_attr': {'class': 'control-label alignLeft', 'style': 'width: 380px'}}) }}

            <div class="controls alignRight">
                {{ form_widget(form, {'attr': {'placeholder': 'Podaj kwotę lub pozostaw puste'}}) }}
            </div>
        </div>
    {% else %}
        {% for child in form.children %}
            <div class="control-group">
                {{ form_label(child, null, {'label_attr': {'class': 'control-label alignLeft', 'style': 'width: 380px'}}) }}

                <div class="controls alignRight">
                    <div class="ez-checkbox">
                        {{ form_widget(child, {'attr': {'class': 'ez-hide'}}) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
	{% if stage == 'init' %}

    <h2 class="alignCenter">Witaj w aplikacji Integracja z Allegro</h2>

    <h4 class="alignCenter">Uzupełnij ustawienia aplikacji i zacznij wystawiać przedmioty</h4>

    <div class="accordion init-settings">
        <div class="accordion-group{% if step != 1 %}{% if step > 1 %} done{% else %} disabled{% endif %}{% endif %}">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Dane konta Allegro <span class="icon icon-user pull-right"></span>
                </a>
            </div>
            {% if step == 1 %}
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <form class="form-horizontal" action="{{ path('shoplo_allegro_settings_login') }}" method="post" {{ form_enctype(form) }}>
                        <div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
                            {{ form_label(form.username, 'Nazwa użytkownika', {'label_attr': {'class': 'control-label alignLeft'}}) }}

                            <div class="controls alignRight">
                                {{ form_widget(form.username) }}
                            </div>
                        </div>
                        <div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
                            {{ form_label(form.password, 'Hasło', {'label_attr': {'class': 'control-label alignLeft'}}) }}

                            <div class="controls alignRight">
                                {{ form_widget(form.password) }}
                            </div>
                        </div>

						<p>
							<small>
								<span class="icon icon-lock"></span> Twoje hasło będzie przechowywane w formie zaszyfrowanej oraz wykorzystane wyłącznie do komunikacji z Allegro.
							</small>
						</p>


                        <button type="submit" class="btn btn-primary">Dalej &rsaquo;</button>

                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="accordion-group{% if step != 2 %}{% if step > 2 %} done{% else %} disabled{% endif %}{% endif %}">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Lokalizacja <span class="icon icon-map-marker pull-right"></span>
                </a>
            </div>
            {% if step == 2 %}
            <div id="collapseTwo" class="accordion-body collapse in">
                <div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings_location') }}" method="post" {{ form_enctype(form) }}>
						<div class="control-group">
							{{ form_label(form.state, 'Województwo', {'label_attr': {'class': 'control-label alignLeft'}}) }}

                            <div class="controls alignRight">
                                {{ form_widget(form.state) }}
							</div>
						</div>
						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.city, 'Miejscowość', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								{{ form_widget(form.city) }}
							</div>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.zipcode, 'Kod pocztowy', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								{{ form_widget(form.zipcode) }}
							</div>
						</div>


                        <button type="submit" class="btn btn-primary">Dalej &rsaquo;</button>

                        {{ form_rest(form) }}
					</form>
                </div>
            </div>
            {% endif %}
        </div>

	{% else %}

	<h2 class="alignCenter">{% if stage == 'new' %}Utwórz nowy profil aukcji{% else %}Edytuj profil aukcji{% endif %}</h2>

	<div class="accordion init-settings">

	{% endif %}

		<div class="accordion-group{% if step != 3 %}{% if step > 3 %} done{% else %} disabled{% endif %}{% endif %}">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
					Ustawienia aukcji <span class="icon icon-cogs pull-right"></span>
				</a>
			</div>
			{% if step == 3 %}
			<div id="collapseThree" class="accordion-body collapse in">
				<div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings_auction') }}" method="post" {{ form_enctype(form) }}>
						{% if stage != 'init' and form.profile_name %}
						<div class="control-group">
							{{ form_label(form.profile_name, 'Nazwa profilu', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								{{ form_widget(form.profile_name) }}
							</div>
						</div>
						{% endif %}

						<div class="control-group">
							{{ form_label(form.duration, 'Czas trwania aukcji', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								{{ form_widget(form.duration) }}
							</div>
						</div>

						<div class="control-group">
							{{ form_label(form.promotions, 'Promocja produktu', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								<div class="ez-checkbox">
									<input type="checkbox" id="promotion" class="ez-hide" />
								</div>
							</div>
						</div>

						<div class="show-promotion hide">
                            {{ form_row(form.promotions) }}
						</div>

                        <button type="submit" class="btn btn-primary">Dalej &rsaquo;</button>

                        {{ form_rest(form) }}
					</form>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="accordion-group{% if step != 4 %}{% if step > 4 %} done{% else %} disabled{% endif %}{% endif %}">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
					Płatności <span class="icon icon-credit-card pull-right"></span>
				</a>
			</div>
			{% if step == 4 %}
			<div id="collapseFour" class="accordion-body collapse in">
				<div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings_payment') }}" method="post" {{ form_enctype(form) }}>

                        <div class="control-group">
                            <label class="control-label alignLeft disabled">PayU</label>

                            <div class="controls alignRight">
                                <div class="ez-checkbox ez-checked ez-disabled">
                                    <input type="checkbox" class="ez-hide" id="payu" name="payu" value="1" checked="checked">
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label alignLeft" for="pod">Płatność przy odbiorze</label>

                            <div class="controls alignRight">
                                <div class="ez-checkbox">
                                    <input type="checkbox" class="ez-hide" id="pod" name="pod" value="1">
                                </div>
                            </div>
                        </div>


                        {{ form_row(form.payments) }}

                        <button type="submit" class="btn btn-primary">Dalej &rsaquo;</button>

                        {{ form_rest(form) }}
					</form>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="accordion-group{% if step != 5 %}{% if step > 5 %} done{% else %} disabled{% endif %}{% endif %}">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
					Transport <span class="icon icon-truck pull-right"></span>
				</a>
			</div>
			{% if step == 5 %}
			<div id="collapseFive" class="accordion-body collapse in">
				<div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings_delivery') }}" method="post" {{ form_enctype(form) }}>

                        {{ form_row(form.delivery) }}

                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary">Dalej &rsaquo;</button>
					</form>
				</div>
			</div>
			{% endif %}
		</div>

    </div>
{% endblock %}
