{% extends "::base.html.twig" %}

{% block container_class %} central{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts '@ShoploAllegroBundle/Resources/public/js/settings.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
    <h2 class="alignCenter">Witaj w aplikacji Integracja z Allegro</h2>

    <h4 class="alignCenter">Uzupełnij ustawienia aplikacji i zacznij wystawiać przedmioty</h4>

    <div class="accordion init-settings">
        <div class="accordion-group{% if step != 1 %}{% if step > 1 %} done{% else %} disabled{% endif %}{% endif %}">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <span class="icon-settings profile"></span> Dane konta Allegro
                </a>
            </div>
            {% if step == 1 %}
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <form class="form-horizontal" action="{{ path('shoplo_allegro_settings') }}" method="post" {{ form_enctype(form) }}>
                        <div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
                            {{ form_label(form.username, 'Nazwa użytkownika', {'label_attr': {'class': 'control-label alignLeft'}}) }}

                            <div class="controls alignRight">
                                {{ form_widget(form.username) }}
                            </div>
                        </div>
                        <div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
                            {{ form_label(form.password, 'Hasło', {'label_attr': {'class': 'control-label alignLeft'}}) }}

                            <div class="controls alignRight">
                                {{ form_widget(form.password) }}
                            </div>
                        </div>

						<p>
							<small>
								<span class="icon icon-lock"></span> Twoje hasło będzie przechowywane w formie zaszyfrowanej oraz wykorzystane wyłącznie do komunikacji z Allegro.
							</small>
						</p>


                        <button type="submit" class="btn btn-primary">Gotowe</button>

                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="accordion-group{% if step != 2 %}{% if step > 2 %} done{% else %} disabled{% endif %}{% endif %}">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <span class="icon-settings location"></span> Lokalizacja
                </a>
            </div>
            {% if step == 2 %}
            <div id="collapseTwo" class="accordion-body collapse in">
                <div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings') }}" method="post" {{ form_enctype(form) }}>
						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.username, 'Województwo', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								<select name="province">
									<option value="1">Dolnośląskie</option>
									<option value="2">Małopolskie</option>
									<option value="3">Mazowieckie</option>
									<option value="4">Świętokrzyskie</option>
									<option value="5">Śląskie</option>
									<option value="6">Wielkopolskie</option>
								</select>
							</div>
						</div>
						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.password, 'Miejscowość', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								{{ form_widget(form.username) }}
							</div>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.password, 'Kod pocztowy', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								{{ form_widget(form.password) }}
							</div>
						</div>


						<button type="submit" class="btn btn-primary">Zrobione</button>
					</form>
                </div>
            </div>
            {% endif %}
        </div>

		<div class="accordion-group{% if step != 3 %}{% if step > 3 %} done{% else %} disabled{% endif %}{% endif %}">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
					<span class="icon-settings settings"></span> Ustawienia aukcji
				</a>
			</div>
			{% if step == 3 %}
			<div id="collapseThree" class="accordion-body collapse in">
				<div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings') }}" method="post" {{ form_enctype(form) }}>
						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.username, 'Czas trwania aukcji', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								<select name="period">
									<option value="3">3 dni</option>
									<option value="7">7 dni</option>
									<option value="10">10 dni</option>
									<option value="14">14 dni</option>
								</select>
							</div>
						</div>
						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.password, 'Liczba sztuk', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								{{ form_widget(form.username) }}
							</div>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.username, 'Forma sprzedaży', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								<select name="type">
									<option value="1">Aukcja z licytacją</option>
									<option value="2">Kup Teraz!</option>
									<option value="3">Aukcja z licytacją lub Kup Teraz!</option>
								</select>
							</div>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.username, 'Jednostka produktu', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								<select name="measures">
									<option value="1">Sztuki</option>
								</select>
							</div>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							{{ form_label(form.username, 'Promocja produktu', {'label_attr': {'class': 'control-label alignLeft'}}) }}

							<div class="controls alignRight">
								<div class="ez-checkbox">
									<input type="checkbox" name="promotion" class="ez-hide" />
								</div>
							</div>
						</div>

						<div class="show-promotion hide">

							<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
								{{ form_label(form.username, 'Pogrubienie', {'label_attr': {'class': 'control-label alignLeft'}}) }}

								<div class="controls alignRight">
									<div class="ez-checkbox">
										<input type="checkbox" name="bold" class="ez-hide" />
									</div>
								</div>
							</div>

							<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
								{{ form_label(form.username, 'Miniaturka', {'label_attr': {'class': 'control-label alignLeft'}}) }}

								<div class="controls alignRight">
									<div class="ez-checkbox">
										<input type="checkbox" name="thumbnail" class="ez-hide" />
									</div>
								</div>
							</div>

							<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
								{{ form_label(form.username, 'Podświetlenie', {'label_attr': {'class': 'control-label alignLeft'}}) }}

								<div class="controls alignRight">
									<div class="ez-checkbox">
										<input type="checkbox" name="highlight" class="ez-hide" />
									</div>
								</div>
							</div>

							<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
								{{ form_label(form.username, 'Wyróżnienie', {'label_attr': {'class': 'control-label alignLeft'}}) }}

								<div class="controls alignRight">
									<div class="ez-checkbox">
										<input type="checkbox" name="highlight" class="ez-hide" />
									</div>
								</div>
							</div>

							<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
								{{ form_label(form.username, 'Strona kategorii', {'label_attr': {'class': 'control-label alignLeft'}}) }}

								<div class="controls alignRight">
									<div class="ez-checkbox">
										<input type="checkbox" name="category-page" class="ez-hide" />
									</div>
								</div>
							</div>

							<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
								{{ form_label(form.username, 'Strona główna Allegro', {'label_attr': {'class': 'control-label alignLeft'}}) }}

								<div class="controls alignRight">
									<div class="ez-checkbox">
										<input type="checkbox" name="homepage" class="ez-hide" />
									</div>
								</div>
							</div>

						</div>

						<button type="submit" class="btn btn-primary">Gotowe</button>
					</form>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="accordion-group{% if step != 4 %}{% if step > 4 %} done{% else %} disabled{% endif %}{% endif %}">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
					<span class="icon-settings payments"></span> Płatności
				</a>
			</div>
			{% if step == 4 %}
			<div id="collapseFour" class="accordion-body collapse in">
				<div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings') }}" method="post" {{ form_enctype(form) }}>
						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							<label for="payment-odbior-osobisty">
								<input type="checkbox" name="payments['odbior-osobisty]" id="payment-odbior-osobisty" />
								Płatność przy odbiorze
							</label>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							<label for="payment-payu">
								<input type="checkbox" name="payments['payu]" id="payment-payu" />
								Płatność PayU
							</label>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							<label for="payment-transfer">
								<input type="checkbox" name="payments['transfer]" id="payment-transfer" />
								Wpłata na konto
							</label>
						</div>

						<button type="submit" class="btn btn-primary">Gotowe</button>
					</form>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="accordion-group{% if step != 5 %}{% if step > 5 %} done{% else %} disabled{% endif %}{% endif %}">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
					<span class="icon-settings shipping"></span> Transport
				</a>
			</div>
			{% if step == 5 %}
			<div id="collapseFive" class="accordion-body collapse in">
				<div class="accordion-inner">
					<form class="form-horizontal" action="{{ path('shoplo_allegro_settings') }}" method="post" {{ form_enctype(form) }}>
						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							<label for="payment-odbior-osobisty">
								<input type="checkbox" name="shipping['own]" id="payment-odbior-osobisty" />
								Odbiór osobisty
							</label>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							<label for="payment-payu">
								<input type="checkbox" name="shipping['courier]" id="payment-payu" />
								Kurier
							</label>
						</div>

						<div class="control-group{% if app.request.method == 'POST' %} error{% endif %}">
							<label for="payment-payu">
								<input type="checkbox" name="shipping['poczta]" id="payment-payu" />
								Poczta polska
							</label>
						</div>

						<button type="submit" class="btn btn-primary">Gotowe</button>
					</form>
				</div>
			</div>
			{% endif %}
		</div>

    </div>
{% endblock %}
